.services-container {
  background-color: #F5F5F5;
  padding: 50px 20px;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;

}

.service-card {
  margin-bottom: 30px;
  max-width: 400px;
  padding: 8px;
  margin-left: 20px;
}

.service-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-box {
  background-color: rgba(208, 103, 108, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-bottom: #d0676c 1px solid;
  height: 100%;
}

.service-box:hover {
  border-bottom: #d0676c 2px solid;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.service-box i {
  font-size: 40px;
  color: #d0676c;
  margin-bottom: 20px;
}

.service-box .text {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.service-box p {
  font-size: 18px;
  color: #555;
}

.dot {
  color: #d0676c;
  margin: 0 20px;

}

@media screen and (max-width: 768px) {
  .services-content {
    flex-direction: row; /* Display cards in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-bottom: 20px; /* Add some padding to the bottom for better spacing */
  }

  .service-card {
    margin: 0 10px; /* Adjust margin to create spacing between cards */
  }
  .service-box i {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .service-box .text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .service-card p{
    font-size: 12px;
  }
}

