.experience-container {
  max-width: 980px;
  margin: 0 auto;
}
.timeline {
  position: relative;
}
.list-title {
  color: #d0676c;
  text-align: left;
  margin-bottom: 30px;
  padding-top: 40px;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
}

.experience-line {
  width: 3.5px;
  height: 100%;
  background-color: rgb(227, 225, 225);
  margin-right: 20px;
  position: absolute;
  left: 23px;
  top: 10;
  bottom: -52px;
  box-shadow: 0 5px 6px rgba(82, 81, 81, 0.1);
}


.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d0676c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 5px;
  /* Adjusted */
  margin-right: 20px;
  border: rgb(227, 225, 225) 4px solid;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);

}

.circle i {
  font-size: 20px;
}

.experience-card {
  background-color: #fff;
  padding: 20px;
  /* border-radius: 8px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
}

.job-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.company {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.duration {
  color: #777;
  margin-bottom: 15px;
}

.responsibilities {
  list-style-type: disc;
  margin-left: 20px;
}

.responsibilities li {
  margin-bottom: 10px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .experience-container {
    max-width: 350px;
    margin: 0 15px;
  }
  .list-title {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 22px;
    padding-left: 10px;
  }
  
  .timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
  }
  
  .experience-line {
    width: 2.5px;
    margin-right: 40px;
    left: 17px;
  }
  
  .circle {
    width: 42px;
    height: 42px;
    margin-top: 5px;
    /* Adjusted */
    margin-right: 20px;
    border: rgb(227, 225, 225) 3px solid;
  }
  .circle i {
    font-size: 15px;
  }
  .experience-card {
    padding: 10px;
  }
  
  .job-title {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  
  .responsibilities {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 15px;
  }
  
  .responsibilities li {
    margin-bottom: 10px;
    list-style: none;
  }
  
}