#contact {
  background: #d0676c;
  position: relative;
  padding: 50px 0;
  color: white;
  text-align: center;
}

#contact::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) scaleY(-1);
  width: 0;
  height: 0;
  border-left: 800px solid transparent;
  border-right: 800px solid transparent;
  border-bottom: 60px solid #F5F5F5;
}

.contact-title {
  margin-top: 3%;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.contact-subtitle {
  color: #f1f1f1;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 20px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 25px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #555;
}

.contact-info {
  list-style: none;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 9%;
}
.contact-list i {
  padding: 55px 0;
  margin-top: 20px;
  font-size: 40px;
  color: #333;
}
.list-link{
  color: #333;

}
.list-link:hover{
  color: #333;
  text-decoration: none;
}
.contact-info li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: arrowUpAnimation 0.5s alternate infinite;
}

.arrow-up i {
  font-size: 1.5em;
}

.social-links-contact {
  background-color: rgba(11, 11, 11, 0.2);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;

}

.social-links-contact.top {
  top: 0;
}

.social-links-contact.bottom {
  bottom: 0;
}

.social-links-contact a {
  margin: 0 10px;
  color: white;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-links-contact a:hover {
  color: #f1f1f1;
}

.signature {
  margin-top: 20px;
  font-size: 0.9em;
  color: #ccc;
}

@keyframes arrowUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    width: 90%;
    margin: 0 auto;
  }

  .contact-form button {
    width: 100%;
    padding: 15px;
  }

  .contact-title {
    font-size: 1.5em;
    margin-top: 7%;
  }

  #contact::before {
    border-left-width: 400px;
    border-right-width: 400px;
  }
  .contact-info {
    list-style: none;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
  }
  .contact-list i {
    padding: 20px 0;
    margin-top: 20px;
    font-size: 30px;
  }
  .social-links-contact {
    position: static;
    margin: 20px 0;
  }
}
