/* CSS code */
.home {
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  padding: 20px;
  position: relative;
}

.home-content {
  text-align: left;
  padding-left: 250px;
}
.text-1{
  font-size: 40px;
  padding-bottom: 10px;
}
.text-2 {
  font-size: 80px;
}

.text-3 {
  font-size: 30px;
  color: #d0676c;
}

.social-links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.social-links a {
  color: #d0676c;
  text-decoration: none;
}

.social-links i {
  margin: 0 20px;
  font-size: 40px;
  transition: color 0.3s ease;
}

.social-links i:hover {
  color: black;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .home {
    padding: 20px 10px;
  }

  .home-content {
    padding-left: 10px; /* Adjust left padding for smaller screens */
  }

  .text-1{
    font-size: 27px;
  }

  .text-2 {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .text-3 {
    font-size: 17px; /* Adjust font size for smaller screens */
  }
  .social-links i {
    margin: 0 10px;
    font-size: 30px;
  }
}
