/* Navbar.css */

.navbar-horizontal {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar-scroll {
  display: flex;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  padding: 0 5px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: black;
  font-weight: bold;
}

/* For browsers not supporting scrollbar-width */
.navbar-horizontal::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-nav .nav-item {
    margin: 0 3px;
  }

  .navbar-nav .nav-link {
    padding: 0 8px;
    font-size: 12px;
  }

  .navbar-horizontal {
    margin: 5px 0;
    overflow-x: auto;
    justify-content: flex-start; 
  }

  .navbar-nav {
    flex-wrap: nowrap; 
  }
}
