.pro-container {
  margin-top: 1%;
  padding: 0 15px;
  /* background-color: white; */
  margin-bottom: 3%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.project-image {
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  transition: box-shadow 0.3s ease;
  height: 100%;
}

.project-image:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.project-img:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(208, 103, 108, 0.8), rgba(0, 0, 0, 0.5));
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-image:hover .overlay {
  opacity: 1;
}

.project-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(208, 103, 108, 0.8);
  color: white;
  padding: 50% 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.02s ease;
}

.project-title-overlay p {
  margin: 0;
  padding: 5px 0;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.7s ease, opacity 0.7s ease;
  font-size: 24px;
}

.project-title-overlay button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.project-title-overlay button:hover {
  background-color: #a95058;
}

.project-image:hover .project-title-overlay {
  opacity: 1;
}

.project-image:hover .project-title-overlay p {
  opacity: 1;
  transform: scale(1);
  /* Change to scale up to 1 */
}

.project-image:hover .project-title-overlay button {
  opacity: 1;
  transform: translateY(0);
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 98;
}

.modal-wrap {
  height: 70vh;
  pointer-events: none;
  position: fixed;
  width: 80vw;
  margin: 10%;
  padding: 3%;
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(208, 103, 108, 0.9);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrap.visible {
  display: flex;
  pointer-events: initial;
}

.modal {
  background: pink;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: #333;
  height: 90vh;
  max-width: 700px;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  text-align: left;
  transform: scale(0.8);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;

}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: rgba(196, 192, 192, 0.7);
  ;
}

.close-modal:hover {
  color: white;
}

.hidden {
  display: none;
}

.project-details {
  text-align: center;
  color: black;
  margin-left: 2%;
}

.project-details h2 {
  background-color: rgba(196, 192, 192, 0.4);
  margin-bottom: 2%;
  padding: 50px;
}

.techUsed {
  text-align: left;
  padding: 12px 0 5px 0;
  font-size: 20px;
  font-weight: bold;
}

.description {
  text-align: left;
  padding-bottom: 40px;
  font-size: 20px;
}


.view-site-button {
  padding: 15px 30px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 30px;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.view-site-button:hover {
  color: white;
  background-color: rgba(208, 103, 108, 0.9);
}

@media only screen and (max-width: 1024px) {
  .project-title-overlay p {
    font-size: 18px;
  }

  .view-site-button {
    padding: 10px 20px;
  }

  .modal-wrap {
    flex-direction: column;
    height: auto;
    padding: 30px;
    margin: 4%;
  }
}

@media only screen and (max-width: 768px) {
  .project-details h2 {
    font-size: 24px;
    padding: 30px;
  }

  .techUsed,
  .description {
    font-size: 16px;
  }

  .carousel-container {
    max-width: 400px;
  }

  .carousel-button {
    font-size: 20px;
  }

  .carousel-button.left {
    left: 5px;
  }

  .carousel-button.right {
    right: 5px;
  }

  .view-site-button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .modal-wrap {
    flex-direction: column;
    height: auto;
    padding: 30px;
    margin: 4%;
  }

  .close-modal {
    display: block;
    font-size: 16px;
  }

  .description {
    padding-bottom: 0px;
  }
}